
.subscribe-button {
  background-color: rgb(210, 7, 7);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  ;
  padding-bottom: 10px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(70, 70, 222);
  border-style: solid;
  border-width: 1px;
  color: rgb(70, 70, 222);
  border-radius: 2px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  ;
  padding-bottom: 9px;
  vertical-align: top;

}

.tweet-button {
  background-color: blue;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  ;
  padding-bottom: 10px;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
